<p id="notice"><%= notice %></p>

<pre><%= @testing%></pre>
<h1>Emails</h1>

<%= paginate @emails %>
<%= page_entries_info @emails %>

<% @emails.each do |email| %>
  <div>
    <p>
      <% sender = Mail.new(email.body)[:from].display_names.first %>
      <b> <%= sender %>: </b>
      <a> - <%= email.read ? "Read" : "Unread" %> - </a>
      <%= email.created_at %>:
      <%= Mail.new(email.body).subject %>
      <%= link_to 'Show', email , target: :_blank, class: 'show-email', id: email.id %>
    </p>
    <ul>
      <% email.links.order('created_at ASC').each_with_index do |link, index| %>
        <% if index > 0 and index % 6 == 0 %>
          <li class="link" style="padding-bottom: 7px; padding-top: 25px">
        <% else %>
          <li class="link" style="padding-bottom: 7px">
        <% end %>
          <% if sender == 'Hacker Newsletter' %>
            <%= check_box_tag 'read', link , true %>
          <% else %>
            <%= check_box_tag 'read', link , false %>
          <% end %>
          <a href="<%= link.url %>"> <%= link.title %> </a> - <%= link.description %>
        </li>
      <% end %>
     <%= link_to "Open selected links", "#", :class => "openSelectedLinks" %>
    </ul>
  </div>
<% end %>

<%= paginate @emails %>
<%= page_entries_info @emails %>
<!-- <table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Read</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.sender %></td>
        <td><%= email.read %></td>
        <td><%= email.subject %></td>
        <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %> -->
