<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<%= paginate @emails %>
<%= page_entries_info @emails %>

<% @emails.each do |email| %>
  <div>
    <p>
      <b> <%= Mail.new(email.body)[:from].display_names.first %>: </b>
      <%= email.created_at %>:
      <%= Mail.new(email.body).subject %>
      <%= link_to 'Show', email , target: :_blank%>
    </p>
    <ul>
      <% email.links.each do |link| %>
        <li>
          <%# set read to whatever value app/models/email.read is %>
          <input id="read" name="read" type="checkbox" checked />
          <a href="<%= link.url %>"> <%= link.title %> </a> - <%= link.description %>
        </li>
      <% end %>
     <%= link_to "Open selected links", "#", :class => "openSelectedLinks" %>
    </ul>
  </div>
<% end %>

<%= paginate @emails %>
<%= page_entries_info @emails %>
<!-- <table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Read</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.sender %></td>
        <td><%= email.read %></td>
        <td><%= email.subject %></td>
        <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %> -->
